/* || Parent Positioning */

/* || Child Positioning */

/* || Styles  */

:root {
  --temp-bg-color: #f5f5f5;
  /*Color Scheme 1 Clean & Crisp */
  --clean-1: #99D3Df; /*153,211,223*/
  --clean-2: #88BBD6; /*136,187,214*/
  --clean-3: #CDCDCD;
  --clean-4: #E9E9E9;

  /*Color Scheme 1 Clean & Crisp */
  --modern-1: #17252A; /*23, 37, 42*/
  --modern-2: #2B7A78; /*43, 122, 119*/
  --modern-3: #3AAFA9; /*58, 175, 169*/
  --modern-4: #DEF2F1; /*222, 242, 241*/
  --modern-5: #FEFFFF; /*254, 255, 255*/
  --bootstrap_color: #fff;

  /*Fiverr Color Scheme */
  --fiv-bars: #005af6; /*0,91,246*/
  --fiv-bg: #ebf3fa; /*235,243,250*/
  --fiv-banner: #021236; /*2,18,54*/


}
@font-face {
  font-family: FivFont;
  //src:  url(fonts/CircularStd-Black.woff);
  //src:  url(fonts/CircularStd-BlackItalic.woff);
  //src:  url(fonts/CircularStd-Bold.woff);
  //src:  url(fonts/CircularStd-BoldItalic.woff);
  src:  url(fonts/CircularStd-Book.woff);
  //src:  url(fonts/CircularStd-BookItalic.woff);
  //src:  url(fonts/CircularStd-Medium.woff);
  //src:  url(fonts/CircularStd-MediumItalic.woff);


}
* {
  font-family: FivFont;

}
html, body {
    //font-family: "Arial Black";
    //font-weight: 200;
    background-color: var(--fiv-bg);
}
button:focus{outline: 0;}


#UI_container{
  align-items: center;
  display: flex;
  flex-direction: column;
  height:100vh !important;

}
.header{
  position: relative;

  display: flex;
  flex-direction:row;
  //justify-content: space-around;


  width: 100%;
  background-color: var(--fiv-banner);
}
#banner{
  color: white;

  padding: 2em 0em 2em 0em;
  width: 40%;

  text-align: center;


}
#banner h1 {

  //font-size:2.7em;
  font-size: 2.1vw;
}
#button_container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 60%;
}
.navbar_btn{
  /* || Styles  */
  background-color: inherit;
  color:white;
  border: none;
  padding: .8em;
  //font-size: 1.2em;
  font-size: 1.1vw;

}



.bars_and_data{
  /* || Parent Positioning */
  width: 100%;
  height: 100%;

  //padding: 3em;
  //margin: 3.5em 0em 3.5em 6.5em;

  /* || Child Positioning */
  display: flex;
  flex-direction: row;

  /* || Styles  */
  background-color: var(--fiv-bg);


}
#bar_container_outer{
  /* || Parent Positioning */
  width: 60%;
  margin-top: auto;
  margin-bottom: auto;

}
#bar_container{
  /* || Parent Positioning */

  //margin: 0em 0em 0em 0em;
  padding: 2em 7em 2em 7em;

  /* || Child Positioning */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;


  /* || Styles  */


}
.bar{
  flex-grow: 1;
  //margin-left: 2px;
}

#data_viz_outer{
  /* || Parent Positioning */
  width: 40%;
  margin-top: auto;
  margin-bottom: auto;

}
#data_viz{

  /* || Parent Positioning*/
   margin-top: auto;
   margin-bottom: auto;
   margin-left: 3em;
   margin-right: 3em;
   padding: 2em 3em 2em 3em;
   height: 65vh;

  /* || Child Positioning */
  display: flex;
  flex-direction: column;
  justify-content: space-around;


  /* || Styles  */
  background-color: white;
  border-radius: 15px;
  color: black;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.07), 0 0px 0 0.5px rgba(10, 10, 10, 0.01);


}
.data_header{
  font-size: 1.3em;
  margin: auto;
  padding: .3em 0em .3em 0em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;


}
.data_caption{

    color: #7b869c; /*123,134,156*/
    line-height: inherit;
    font-size: inherit;
}



.control_button_container{

  display: flex;
  flex-direction: row;
  justify-content: space-around;


}
.control_button{
  background-color: white;
  color: var(--fiv-bars);

  border-radius: 5em;
  font-size: 1.25em;
  //padding: 0.5em 1em 0.5em 1em;
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 4%;
  padding-bottom: 4%;
  //flex-grow: 1;
  //margin: 1.9em;

}
.control_button.active{
  background-color: var(--fiv-bars);
  color: white;

}
.control_button:hover{
  background-color: var(--fiv-bars);
  color: white;
}


#range_container{
  margin: 1em 0em 1em 0em;


}
.slider {
  display: block;
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #edebeb;
  outline: none;

}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--fiv-bars);
  cursor: pointer;
  //border: solid black .4px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.07), 0 0px 0 0.5px rgba(10, 10, 10, 0.01);
}
.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}



/*NavBar Buttons Animation*/
.navbar_btn:active{
  color: var(--clean-2);
}
.navbar_btn:hover{
  cursor: pointer;
}
.navbar_btn {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .6s;
          transition-duration: .6s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}
.navbar_btn:after,
.navbar_btn:before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all 280ms ease-in-out;
  transition: all 280ms ease-in-out;
  width: 0%;
}
.navbar_btn:hover:after,
.navbar_btn:hover:before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  //border-color: #fff;
  border-color: white;
  -webkit-transition: width 350ms ease-in-out;
  transition: width 350ms ease-in-out;
  width: 90%;
}
.navbar_btn:hover:before {
  bottom: auto;
  top: 0;
  display: none;
}



/*Chrome*/
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;

    }

    input[type='range']::-webkit-slider-runnable-track {
      width: 100%;
      -webkit-appearance: none;
    }

    input[type='range']::-webkit-slider-thumb {
      -webkit-appearance: none;
      box-shadow: -80px 0 0 79px var(--fiv-bars);
    }

}
*/
