:root {
  --temp-bg-color: #f5f5f5;
  /*Color Scheme 1 Clean & Crisp */
  --clean-1: #99D3Df; /*153,211,223*/
  --clean-2: #88BBD6; /*136,187,214*/
  --clean-3: #CDCDCD;
  --clean-4: #E9E9E9;
}
html, body {
    height:100vh;
}
body {
  background-color: var(--clean-4);
}
#UI_container{
  //background-color: green;
  align-items: center;
  display: flex;
  flex-direction: column;

}
.header{
  position: relative;
  width: 100%;
  //background-image: linear-gradient(to right, rgba(0, 123, 255, .9), rgba(0, 99, 179,0.9));
  //background-color: rgba(0, 123, 255, .99);
  background-color: rgba(136, 187, 214, .99);
  background-blend-mode: darken;
  //background-repeat: repeat-x;
  //background-image: url("Images/header_image_cropped_gray.png");
  opacity: .9;
}

#banner{
  height: 100px;
  color: var(--clean-4);
  font-family: 'Lato', sans-serif;
  font-weight: 50;
  padding-left: 4.5%;
  padding-top: 15px;

}
#button_container{
  //background-color: purple;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

#bar_container{
  //background-color: red;

  grid-area:bars;

  padding: 30px;


  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;

}
.bar{
  position: relative;
  width:1%;
  //margin-left: 2px;
}
.data_viz{
  color: black;
  //background-color: yellow;

  grid-area:viz;
  margin: 7%;

  background-color: var(--clean-3);
  border-radius: 10px ;
  padding-top: 30px;
  //border: solid 0.5px;

  display: flex;
  flex-direction: column;
  align-items: center;
  //box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.3), 0 0px 0 1px rgba(10, 10, 10, 0.02);

}
.bars_and_data{
  //background-color: black;

  display: grid;
  grid-template-columns: repeat(10, 10% [col-start]);
  grid-template-rows: auto;
  grid-template-areas:
    "viz viz bars bars bars bars bars bars space space";

  width: 100%;

}

.data_header{
  font-size: 1.3em;
  padding-bottom: 10px;

}
#swaps, #total_ops, #compairsons{
  font-size: inherit;
  display: inline;
  padding: 10px;
}




/*NavBar Buttons*/
.navbar_btn{
background-color: inherit;
color: var(--clean-4);
border: none;
padding: 10px;
font-family: 'Lato', sans-serif;
text-decoration: None !important;
outline: none;
}
.navbar_btn:active{
  color: red;
}
.navbar_btn:hover{
  cursor: pointer;
}

.navbar_btn {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .6s;
          transition-duration: .6s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.navbar_btn:after,
.navbar_btn:before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all 280ms ease-in-out;
  transition: all 280ms ease-in-out;
  width: 0%;
}

.navbar_btn:hover:after,
.navbar_btn:hover:before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-color: #fff;
  -webkit-transition: width 350ms ease-in-out;
  transition: width 350ms ease-in-out;
  width: 90%;
}
.navbar_btn:hover:before {
  bottom: auto;
  top: 0;
  display: none;
}
